@model List<Eweb.Models.SA.Menu.cmdmenu>

<div class="default-component">
    @foreach (var m in Model) { 
        <p>m.cmdid</p>
    }
    <p class="h4">Test<strong>Loop cmdmenu</strong></p>
    <p>Welcome to the ASP.NET Core course!</p>
</div>