@model IEnumerable<Eweb.HOST.SA.cmdmenu>
<a class="navbar-link">
    More
</a>

<div class="navbar-dropdown">
    @foreach (var m in Model)
    {
        <a class="navbar-item">
            @m.Cmdname
        </a>
    }
</div>